<div class="banner">
<div class="container">

<div class="row">
  <div class="col-6">Phone: 0450442424</div>
  <div class="col-4 text"> <span>Follow us on Social Media</span></div>
 
  <div class= "col-2">
  <i class="fab fa-facebook-square"></i>    
  <i class="fab fa-instagram"></i>
  <i class="fab fa-twitter-square"></i>
</div>
</div>
</div>
</div>