<% provide(:title, 'Home') %>


<!-- stat of carousel-->

<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
    <%= image_tag("1.jpg", class: "d-block w-100")%>
      <div class="carousel-caption d-none d-md-block">
        <%= link_to "Sign up Now", signup_path, class: "btn btn-primary"%> 
        <h2>Sign Up Now and Request Your Design</h5>
        <p>We have a team of hihgly qulified professionals who can design and estimate your projects.</p>
      </div>
    </div>
    <div class="carousel-item">
    <%= image_tag("2.jpg", class: "d-block w-100")%>
      
    </div>
    <div class="carousel-item">
      <%= image_tag("3.jpg", class: "d-block w-100")%>
     
    </div>
  </div>
 

</div>

<!-- end of carousel -->