@import 'bootstrap/dist/css/bootstrap';

$primary-color: #90ff8a;
$secondry-color: #056300;

.navbar {
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);

    border-radius: 0 50px;
}
    
    .navbar-brand {
    font-size: 3rem;
    }
    

    .sign-up, .log-in{
        margin-right: 10px;
        color: black;
        border-color: black;
        border-radius: 25px;         
    }
// styling the debuging part 
$gray-medium-light: #eaeaea;

@mixin box_sizing{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.debug_dump{
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
}
// sidebar
aside{
    section.user_info{
        margin: 20px;
    }
    section{
        padding: 10px 0; 
        margin-top: 20px;
        &:first-child{
            border: 0;
            padding-top: 0;
        }
        span{
            display: block;
            margin-bottom: 3px;
            line-height: 1;

        }
        h1{
            font-size: 1.4rm;
            text-align: left;
            letter-spacing: -1px;
            margin-bottom: 3px;
            margin-top: 0px;
        }
    }

}
.gravatar{
    float:left;
    margin-right: 10px;
}
.gravatar_edit{
    margin-top: 15px;
}
// forms
input, testarea, select, .uneditable-input{
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing
}

input{
    height: auto !important;
}

// styling the login and sign up forms 

.form-card{
    margin: auto;
    width: 50%;
    border: none;
    padding: 10px;
    text-align: center;
}

ul li {
    list-style: none;
}

.debug{
    background-color:red;
}

.carousel-inner{
    height: 80vh;
    
}
.carousel-caption{
    padding-bottom: 35%;
}

.carousel-item {
    h2{
        color:black;
        font-weight: bold;
    }
    p{
        color: black;
        font-weight: bold;
    }
}
.banner{
    background-color: black;
    color: white;
    height:30px;
}
.col-2{
   .fab{
    margin-right: 25px;
   }

} 

   .text{
        text-align:right;
    }


.errors{
    margin-top: 5px;
}

.footer{
    background-color: black;
    
}